body {
	background-color: beige;
	.title {
		color: black;
		text-align: center;
		font-size: 80px;
		cursor: pointer;
		.div1 {
			margin-top: 35px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

	}











}